@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.wrapper {
    height: auto;
    color: #373d40;
    font-family: 'Open Sans', 'Roboto', sans-serif;

    @media screen and (min-width: 768px) {
        height: 100vh;
    }

    .profileContainer {
        background-color: #ffd300;
        padding-top: 40px;
        padding-bottom: 40px;

        @media screen and (min-width: 768px) {
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }

        .img-holder {
            img {
                width: 100%;
                max-width: 180px;
            }
        }
    }

    .content {
        h1, .h1 {
            font-size: 28px;
            font-weight: 700;
        }
        p {
            font-weight: 400;
        }

        .btn-holder {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 35px 0;
           
            
            

            a {
                position: relative;
                //background-color: #373d40;
                //padding: 9px 13px 9px 18px;

                &:before {
                    content: "";
                    position: absolute;
                    left: -15px;
                    right: 0;
                    top: -10px;
                    bottom: 0;
                    width: 45px;
                    height: 45px;
                    background-color: #373d40;
                    border-radius: 50%;
                }

                img {
                    width: 100%;
                    max-width: 15px;
                    -webkit-transition: -webkit-transform .5s ease-in-out;
                    -ms-transition: -ms-transform .5s ease-in-out;
                    transition: transform .5s ease-in-out; 
                    transform:rotate(90deg);
                    -ms-transform:rotate(90deg);
                    -webkit-transform:rotate(90deg);

                    @media screen and (min-width: 768px) {
                        transform:rotate(0deg);
                        -ms-transform:rotate(0deg);
                        -webkit-transform:rotate(0deg);
                    }
                }

                &.formHidden {
                   // padding: 9px 16px 9px 15px;
                    img {
                        transform:rotate(270deg);
                        -ms-transform:rotate(270deg);
                        -webkit-transform:rotate(270deg);

                        @media screen and (min-width: 768px) {
                            transform:rotate(180deg);
                            -ms-transform:rotate(180deg);
                            -webkit-transform:rotate(180deg);
                        }
                    }
                }
            }
        }
    }

    #contentContainer {
        display: none;

        &.showContent {
            display: block;
            background-color: #ff9200;
            padding: 60px 18px;

            @media screen and (min-width: 768px) {
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                padding: 60px 45px;
            }
        }
    }

    #form-container {

        @media screen and (min-width: 768px) {
            background-color: #fff;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
        }

        &.hideForm {
            display: none;
        }

        .form-holder {
            font-size: 14px;
            padding: 50px 0px;
            color: #373d40;
            font-weight: 500;

            @media screen and (min-width: 768px) {
                padding: 60px 45px;
                color: #000;
            }

            .form-control {
                font-size: 14px;
                color: #373d40;
                background-color: #f5f8f9;
                border-color: #f5f8f9;
                padding: 20px 12px;

                &:focus {
                    background-color: #6c757d;
                    border-color: #cad7dd;
                    box-shadow: none;

                    @media screen and (min-width: 768px) {
                        color: #000;
                        background-color: #fff;
                        border-color: #6c757d;
                        box-shadow: #6c757d;
                    }
                }
            }

            .form-group {
                input[type="radio"] {
                    display: none;
                    cursor: pointer;

                    + label {
                        margin-left: 10px;
                        color: #ced4da;
                    }
                }
    
                .image-holder {
                    position: relative;
                    margin-right: 15px;
                    cursor: pointer;

                    &::before {    
                        content: '';
                        position: absolute;
                        width: 35px;
                        height: 35px;
                        background-color: #cad7dd;
                        border-radius: 50%;
                        top: -6px;
                        bottom: 0;
                        left: -8px;
                        right: 0;
                        opacity: 1;

                        @media screen and (min-width: 768px) {
                            opacity: 0.25;
                        }
                    }

                    img {
                        position: relative;
                        margin-right: 15px;
                        max-width: 18px;
                        width: 100%;
                        //display: block;
                    }

                    .img-light {
                        display: none;
                    }
                }
                input[type="radio"]:checked {
                    position: relative;

                    + label{
                        .image-holder {
                            &:before {
                                opacity: 0.5;

                                @media screen and (min-width: 678px) {
                                    opacity: 0.8;
                                }
                            }
                            
                            .img-dark {
                                display: none;
                            }

                            .img-light {
                                display: inline-block;
                            }
                        }
                    }
                }

               
            }

        }
    }

    .btn {
        padding: 10px 45px;
        text-transform: uppercase;

        @media screen and (max-width: 767px) {
            width: 100%;
            margin-bottom: 10px;
        }

        &.btn-primary {
         background-color: #49c8a8;
         color: #fff;   
         border: 1px solid #49c8a8;

         &:hover, &:focus {
             border: 1px solid #49c8a8;
             color: #49c8a8;
             background-color: #fff;
             box-shadow: none;
         }
        }

        &.btn-secondary {
            color: #373d40;
            background-color: #f5f8f9;
            border: 1px solid #f5f8f9;

            &:hover, &:focus {
                color: #f5f8f9;
                background-color: #373d40;
                border: 1px solid #373d40;
                box-shadow: none;
            }
        }
    }
    
    a {
        color: #373d40;
        font-weight: 600;
        text-decoration: underline;
    }
}


